<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <main class="error">

        <img src="/404not_found.svg" alt="not found" class="img-error" />
        <h1 class="error-title">PÁGINA <br> NÃO ENCONTRADA</h1>
        <p class="error-text">A página inserida não foi encontrada. Confira a URL requisitada.</p>
    </main>
</body>

</html>